{% sw_extends '@Storefront/storefront/layout/header/search.html.twig' %}
{% block layout_header_search %}
    <div class="defaultcity-header">
        <span>My Store</span>
        <a href="{{ path('frontend.custom.page') }}" id="store-city-display">{{ getStoreCity() }}</a>
    </div>
    {{ parent() }}
{% endblock %}